[submodule "dto"]
	path = dto
	url = git@github.com:biggms/dto.git
[submodule "sequelize-paper-trail"]
	path = sequelize-paper-trail
	url = git@github.com:biggms/sequelize-paper-trail
[submodule "temperatureserver"]
	path = temperatureserver
	url = git@github.com:biggms/temperatureserver.git
[submodule "logserver"]
	path = logserver
	url = git@github.com:biggms/logserver.git
[submodule "bubblerserver"]
	path = bubblerserver
	url = git@github.com:biggms/bubblerserver.git
[submodule "volumeserver"]
	path = volumeserver
	url = git@github.com:biggms/volumeserver.git
[submodule "flowserver"]
	path = flowserver
	url = git@github.com:biggms/flowserver.git
